<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <span><a th:href="@{/addCategory}">Create Category</a></span>
    <span><a th:href="@{/addProduct}">Add Product</a></span>
    <span><a th:href="@{/viewProduct}">View Products</a></span>
    <span><a th:href="@{/changePassword}">Change Password</a></span>
    <span><a th:href="@{/viewCart}">View Cart</a></span>
</div>
<div th:fragment="sessioninfo" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>From session fragment <span th:text="${session}"></span></h1>
    <h1>From session fragment <span th:text="${session.sessionuser}"></span></h1>
    <!--<h1>From session fragment <span th:text="${session.sessionuser.email}"></span></h1>-->
</div>
