<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <header th:replace="fragments/css-fragment :: css"></header>
    <title>Add Order</title>
</head>
<body>

<header th:replace="fragments/headerTInner :: navbar"></header>

<!--<h2>Welcome, <span th:text="${user}"></span></h2>-->
<form method="post"  style="border:1px solid #ccc" th:action="@{/proc/addOrder}" th:object="${Order}">
    <div class="container">
        <h1>Add to cart</h1>
        <hr>
        <!--<label><b>Name</b></label>-->
        <input th:field="*{product}" type="hidden">
        <img height="50px" th:src="${Order.product.productImage}" width="50px"/>
        <input th:field="*{customer}" type="hidden" >
    <label><b>Quantity</b></label>
        <input placeholder="Enter order quantity" required th:field="*{orderQuantity}" type="text">
        <p>Quantity left in stock: <span style="color:red;" th:text="${pquantity}"></span></p>

        <label><b>Price</b></label>
        <input placeholder="Enter price of product" required th:field="*{orderPrice}" th:readonly="true" type="text">

<!--
        <label><b>Total</b></label>
        <input type="text" th:value="*{orderTotal}" placeholder="Enter link to image here" name="pimage" required>
-->

         <div class="clearfix">
            <button class="signupbtn" type="submit">Add to Cart</button>
        </div>
    </div>
</form>
<!--<footer th:replace="fragments/header :: sessioninfo"></footer>-->
</body>
</html>