<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{css/login.css}"/>
    <title>Add Category</title>
</head>
<body>

<header th:replace="fragments/header :: navbar"></header>

<span th:text="${msg}"></span>
<form method="post" style="border:1px solid #ccc" th:action="@{/proc/addProductCategory}" th:object="${ProductCategory}">
    <div class="container">
        <h1>Add Category</h1>
        <hr>
        <label><b>Name</b></label>
        <input name="cname" placeholder="Enter category of product" required th:field="*{categoryName}" type="text">

        <div class="clearfix">
            <button class="signupbtn" type="submit">Add Category</button>
        </div>
    </div>
</form>
</body>
</html>