<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{css/login.css}"/>
    <title>SignIn</title>
</head>
<body>
<h2 style="color:red" th:text="${error}"></h2>

<form method="post" style="border:1px solid #ccc" th:action="@{/proc/signIn}">
    <div class="container">
        <h1>Sign In</h1>
        <hr>
        <label><b>Email</b></label>
        <input name="email" placeholder="Enter email" required type="text">

        <label><b>Password</b></label>
        <input name="password" placeholder="Enter Password" required type="password">

        <div class="clearfix">
            <button class="signupbtn" type="submit">Sign In</button>
        </div>
    </div>
</form>
</body>
</html>