<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/login.css}" rel="stylesheet"/>
    <title>Home - Admin</title>
</head>
<header th:insert="fragments/header :: navbar"></header>
<h2>Welcome Admin</h2>
<p>Your email address is: <span th:text="${user.email}"></span></p>
<p>Your password is: <span th:text="${msg}"></span></p>
<footer th:insert="fragments/header :: sessioninfo"></footer>
</body>
</html>