<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <header th:replace="fragments/css-fragment-admin :: css"></header>

    <title>View Reports</title>
</head>
<body>
<span style="color:red" th:text="${msg}"></span>
<header th:replace="fragments/headerAdminInner :: navbar"></header>
<div class="container-fluid">
    <div class="row">
        <form method="post" th:action="@{/pendingOrdersDates}">
            <div style="display: flex; align-items: center;">
                <div style="display: flex; flex-direction: column; margin-right: 10px;">
                    <label><b>Start date:</b></label>
                    <input name="selectedDate" required th:value="${selectedDate}" type="date" style="height: 30px;"/>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 10px;">
                    <label><b>End date:</b></label>
                    <input name="selectedDateEnd" required th:value="${selectedDateEnd}" type="date" style="height: 30px;"/>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 10px;">
                    <label><b>Product Category</b></label>
                    <div style="display: flex; align-items: center;">
                        <select th:name="categoryoption" style="height: 30px;">
                            <option th:value="None">All Categories</option>
                            <option th:each="cat:${ProductCategory}" th:value="${cat.categoryName}">
                                <span th:text="${cat.categoryName}"></span>
                            </option>
                        </select>
                    </div>
                </div>
                <div style="margin-left: 10px;margin-top: 30px;">
                    <button class="btn btn-primary" type="submit" >Submit</button>
                </div>
            </div>
        </form>
    </div>


</div>

<div th:if="${not #lists.isEmpty(pendingOrderList)}">
<table class="table table-stripped">
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Last Name</th>
        <th>Product</th>
         <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orders : ${pendingOrderList}">
        <td th:text="${orders.customer.firstName}"></td>
        <td th:text="${orders.customer.lastName}"></td>
        <td th:text="${orders.product.productName}"></td>
        <td th:text="${orders.orderPrice}"></td>
        <td th:text="${orders.orderQuantity}"></td>
        <td th:text="${orders.orderTotal}"></td>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>