<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">
    <header th:replace="fragments/css-fragment :: css"></header>
    <title>View Products</title>
</head>
<body>
<header th:replace="fragments/headerTInner :: navbar"></header>
<!--<span style="color:red" th:text="${cquantity}"></span>-->

<!--<h2>Welcome, <span th:text="${user}"></span></h2>-->
<span style="color:red;" th:text="${msg}"></span>
<table class="table table-striped">
    <tr>
        <th>productName</th>
<!--        <th>productCategory</th>-->
        <th>productQuantity</th>
        <th>productPrice</th>
        <th>productDescription</th>
        <th>productImage</th>
        <th>Place Order</th>
    </tr>
    <tr th:each="prodC:${ProductListByCat}">
        <td th:text="${prodC.productName}"></td>
<!--        <td th:text="${prodC.productCategory}"></td>-->
        <td th:text="${prodC.productQuantity}"></td>
        <td th:text="${prodC.productPrice}"></td>
        <td th:text="${prodC.productDescription}"></td>
        <td><img height="80px" th:src="${prodC.productImage}" width="100px"/></td>
        <td><!--<a th:href="@{/placeOrder/{pid} (pid=${prodC.productId}) }">
            Place Order</a>-->
        <form method="post" th:action="@{/placeOrder}">
            <input name="productID" th:value="${prodC.productId}" type="hidden"></input>
            <input type="submit" value="Place Order"></input>
        </form>
        </td>
    </tr>
    <tr th:each="prod:${ProductList}">
        <td th:text="${prod.productName}"></td>
        <!--        <td th:text="${prod.productCategory}"></td>-->
        <td th:text="${prod.productQuantity}"></td>
        <td th:text="${prod.productPrice}"></td>
        <td th:text="${prod.productDescription}"></td>
        <td><img height="50px" th:src="${prod.productImage}" width="80px"/></td>
        <td><!--<a th:href="@{/placeOrder/{pid} (pid=${prod.productId}) }">
            Place Order</a>-->
            <form method="post" th:action="@{/placeOrder}">
                <input name="productID" th:value="${prod.productId}" type="hidden"></input>
                <input type="submit" value="Place Order"></input>
            </form>
        </td>
    </tr>
</table>
</body>
</html>