<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/login.css}" rel="stylesheet"/>
    <title>View Cart</title>
</head>
<body>
<header th:replace="fragments/header :: navbar"></header>

<!--
<h2>Welcome, <span th:text="${user}"></span></h2>
-->
<span th:text="${found}"></span>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Email</th>
        <th>Registration Date</th>
    </tr>
    <tr th:each="customer:${allUsers}">
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.timestamp}"></td>
    </tr>
</table>
<span>
<form th:action="@{/searchCustomer}" method="post">
    <input type="text" th:value="${email}" placeholder="Enter email address" th:name="email" ></input>
    <input type="submit" value="Search"></input>
</form>
</span>
</body>
</html>