<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/login.css}" rel="stylesheet"/>
    <title>View Cart</title>
</head>
<body>
<span th:text="${cquantity}" style="color:red"></span>
<header th:replace="fragments/headerCustomer :: navbar"></header>

<h2>Welcome, <span th:text="${user}"></span></h2>
<span th:text="${msg}"></span>
<table>
    <tr>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>product Quantity</th>
        <th>product Price</th>
        <th>Order Total</th>
    </tr>
    <tr th:each="order:${orderList}">
        <td th:text="${order.product.productName}"></td>
        <td><img th:src="${order.product.productImage}" width="50px" height="50px"/></td>
        <td th:text="${order.orderQuantity}"></td>
        <td th:text="${order.orderPrice}"></td>
        <td th:text="${order.orderTotal}"></td>
        <td><a th:href="@{/deleteOrder/{orderId}(orderId=${order.orderId})}">Remove from cart</a></td>
        <!--<td><a th:href="@{/deleteOrder/${order.orderId}}">Delete</a></td>-->
        <!--The above commented code will not place the orderId as a pathvariable. It will make it the actual URL you are going to-->

    </tr>
</table>
<h2>Total Order: <span th:text="${orderTotal}"></span></h2>
<span>
<form th:action="@{/checkoutOrder}" method="post">
    <input type="hidden" th:value="${orderTotal}" name="orderTotal" ></input>
    <input type="submit" value="Checkout"></input>
</form>
</span>
</body>
</html>